*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}


body {
    font-family: 'Rubik';
    color: #2F353D;
}


/* Header */


header {
    padding: 12px 0px;
    border-bottom: 1px solid #DFE1E6;
    background-color: #fff;

    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
}

.header__burger {
    display: none;
}
.header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}




.header__navigation__item {
    color: #17191C;
    font-size: 16px;
    font-weight: 400;
}

.hideList::after {
    position: absolute;
    top: 20px;
    content: url("../img/icons/hide.svg");
}
.header__btn {
    font-size: 16px;
    font-weight: 400;
}
.style_btn {
    color: #fff;
    background-color: #1874FF;
    padding: 8px 0px;
    width: 114px;
    border-radius: 8px;
}


/* Main */



.main__title {
    font-size: 48px;
    color: #17191C;

    font-weight: 700;
    text-align: center;
    background: rgba(116, 182, 255, 0.15);
    padding: 64px 0px;

    width: 100%;
    margin-bottom: 48px;
    margin-top: 96px;
}
.main__imgMan {
    margin-bottom: 24px;
    text-align: center;
}

.main__imgPC {
    margin-bottom: 64px;
    text-align: center;
}

.main__sectionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
}
.main__directions p:first-child {
    margin-bottom: 88px;
}
.main__directions p:last-child {
    margin-bottom: 40px;
}

.main__sectionBlock p, h1, ul, .main__sectionSalary p, h1, table {
    width: 702px;
}
.main__sectionBlock p, .main__sectionSalary p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 64px;
}

.main__sectionBlock h1 {
    margin-bottom: 24px;
}
.textBold {
    font-weight: 500;
}
.professionList li{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.professionList {
    margin-bottom: 64px;
}
.professionList li::before {
    content: '';
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    background: #17191C;
    border-radius: 50%;
    margin-right: 0.8rem;
    margin-bottom: 0.2rem;
}
.textLink {
    color: #1874FF;
}

.main__sectionSalary {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.main__sectionSalary h1 {
    margin-bottom: 42px;
}
table {
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
}

table th,
table td {
    padding: 16px;

    border-right: 1px solid #CBCBCB;
}
.borderTop {
    border-top: 1px solid #CBCBCB;
}
table th {
    background-color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

table td {
    font-weight: 300;
    font-size: 18px;
}

table th:first-child,
table td:first-child {
    border-left: 1px solid #CBCBCB;
}

table tr:last-child td {
    border-bottom: 1px solid #CBCBCB;
}

table th,
table td {
    text-align: center;
}

table th:first-child,
table td:first-child {
    text-align: left;
}
.main__iconsEmotions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-top: 47.5px;
    margin-bottom: 64px;
}
.main__iconsEmotions img {
    cursor: pointer;
}

.main__slider {
    background: rgba(116, 182, 255, 0.15);
    padding: 64px 0 102px 0;
}
.main__slider__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__slider h1 {
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 64px;
}

.main__slider__wrapper__rowSlide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.main__slider__wrapper__rowSlide__item {
    width: 328px;
    color: inherit;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px #8993A426;
    display: block; 
    transition: 0.4s ease-in;

}
.main__slider__wrapper__rowSlide__item:hover {
    box-shadow: 0px 12px 10px 0px #8993A450;
}

.main__slider__wrapper__rowSlide__item img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px;
}


.main__slider__wrapper__rowSlide__item__text {
    margin: 20.28px 15.09px 20.23px 17.89px;
    /* width: 294px; */
    color: #17191C;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.main__slider__wrapper__slide {
    display: none;
}


.main__emailWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 64px;
    padding-bottom: 64px;
}
.main__emailWrapper p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    max-width: 291px;
    margin-right: 56px;
}

.main__emailWrapper form input {
    box-shadow: 0px 4px 8px 0px #8993A426;
    padding: 7px 0px 7px 16px;
    width: 233px;
    border-radius: 8px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 300;
}

.main__emailWrapper form input::placeholder {
    color: #B4B5B8;
    font-size: 18px;
    font-weight: 300;
}

.main__btn {
    font-size: 16px;
    font-weight: 400;
}

/* Footer */


/* 
.footer {
    background-color: #202328;
    color: #fff;
    padding-top: 64px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer__info__program {
    display: block;
}
.footer__info__program__row {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 18px;
}
.footer__info__program__item {
    color: #fff;
    font-size: 18px;
    font-weight: 500;

}
.hideList-footer::after {
    position: absolute;
    top: -3px;
    content: url("../img/icons/hide.svg");
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.row-item ul{
    position: relative;
    display: flex;
    gap: 33px;
}
.row-item ul:first-child {
    margin-bottom: 16px;
}
.footer__info__contact {
    width: 312px;
}
.footer__info__contact__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
}
.footer__info__contact a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
.footer__info__contact p {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.footer__info__contact__messanger::after {
    content: '';
    display: inline-block;
    top: 0px;
    bottom: 0px;
    width: 0.1rem;
    height: 1.4rem;
    background: #ffffff;
    margin-right: 17px;
    margin-bottom: 0.2rem;
}
.footer__info__contact__messanger img {
    margin-right: 17px;
}
.footer__info__about {
    width: 239px;

}
.footer__info__about__socialNetwork {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}
.footer__info__about p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 9px;
}
.footer__info__about a {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.footer__copyright {
    border-top: 1px solid #fff;
    padding: 16px 0px;
    margin-top: 88px;

    display: flex;
    justify-content: space-between;
} */


.footer {
    background-color: #202328;
    color: #fff;
    padding-top: 64px;
}

.footer__info {
    display: grid;
    /* grid-template-columns: 230px 312px 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* justify-items: center; */
}
.footer__info__program {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: auto;
    grid-column-end: auto;
    width: 230px;
}
.footer__info__program a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}


.footer__info__program__block {
    margin-top: 18px;
}

.footer__info__program__block__item {
    margin: 0px 33px 0px 0px;
}
.footer__info__program__block__item:nth-child(2) {
    margin: 0px;
}
.hideList-footer::after {
    position: absolute;
    top: 65px;
    content: url("../img/icons/hide.svg");
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.footer__info__contact {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: auto;
    grid-column-end: auto;

    margin-top: 10px;
    width: 327px;
}
.footer__info__contact__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
}
.footer__info__contact__block__messanger,
.footer__info__contact__addres a,
.footer__info__contact__num {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.footer__info__contact__block__messanger img {
    margin-right: 17px;
}
.footer__info__contact__block__messanger img:nth-child(3) {
    margin-right: 0px;
}
.footer__info__contact__block__messanger::after {
    content: '';
    display: inline-block;
    width: 0.1rem;
    height: 1.4rem;
    background: #ffffff;
    margin: 0 17px;
    margin-bottom: 0.2rem;
}
.footer__info__contact__addres p {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}


.footer__info__about {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: auto;
    grid-column-end: auto;
    margin-top: 10px;
}
.footer__info__about img {
    margin-right: 24px;
}
.footer__info__about img:last-child {
    margin: 0px;
}

.footer__info__police,
.footer__info__about {
    width: 239px;
    /* margin-left: 117px; */
    margin-top: 20px;
    justify-self: flex-end;
}
.footer__info__police a,
.footer__info__police p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

.footer__copyright {
    border-top: 1px solid #fff;
    padding: 16px 0px;
    margin-top: 88px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 950px) {

    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
    .footer__info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .footer__info__program {
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .footer__info__contact {
        grid-row-start: auto;
        grid-row-end: auto;
        justify-self: flex-end;
    }
    .footer__info__about {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 0;
        justify-self: start;
    }
    .footer__info__police {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 59px 0px 0px 0px;
        justify-self: flex-end;
        width: 327px;
    }

    .footer__copyright {
        margin-top: 32px;
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .header__burger {
        display: block;
        position: relative;
        height: 30px;
        width: 30px;
    }
    .header__burger span {
        position: absolute;
        background-image: url("../img/burger-menu.svg");
        background-size: contain;
        background-repeat: no-repeat;
        right: 0;
        width: 100%;
        height: 100%;
        top: 0px;
        cursor: pointer;
    }
    .header__navigation {
        display: none;
    }
    .header__row__btnsBurger {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .container{
        max-width: 720px;
        margin: 0px 24px;
        display: block;
    }
    .main__imgMan img {
        width: 720px;
    }
    .main__imgPC img {
        width: 720px;
    }
    .main__sectionBlock {
        display: block;
    }
    .main__sectionSalary {
        display: block;
    }
    .main__sectionBlock p, h1, ul, .main__sectionSalary p, h1, table {
        width: 720px;
    }

    .main__emailWrapper p {
        margin-right: 0px;
    }

    .main__emailWrapper {
        justify-content: space-between;
    }



    .footer__info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .footer__info__program {
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .footer__info__contact {
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .footer__info__about {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 0;
    }
    .footer__info__police {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 59px 0px 0px 0px;
    }

    .footer__copyright {
        margin-top: 32px;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1060px) {
    .main__imgMan img,
    .main__imgPC img {
        width: 720px;
    }
    .main__slider__wrapper__rowSlide__item {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
    .main__slider__wrapper__rowSlide__item:nth-child(3) {
        display: none; 
    }
    .container{
        margin: 0px 24px;
    }

    .main__slider__wrapper__slide {
        display: block;
        width: 65px;
        height: 12px;
        margin-top: 24px;
    }
    
    .main__slider__wrapper__slide span {
        background-color: #B0BAAF;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        display: inline-block;
        top: 9px;
        margin-right: 5px;   
        cursor: pointer;
    }
    
    .main__slider__wrapper__slide span:last-child {
        margin-right: 0; 
    }
    
    .main__slider__wrapper__slide .slide-active {
        width: 20px;
        height: 6px;
        background-color: #1874FF;
        border-radius: 10px;
    }
    
}

@media (min-width: 650px) and (max-width: 767px) {
    
    .main__imgMan,
    .main__imgPC {
        text-align: start;
    }
    .main__imgMan img,
    .main__imgPC img {
        width: 600px;
    }
    .main__iconsEmotions img{
        display: none;
    }
    
    .main__sectionSalary {
        display: block;
    }
    .main__sectionBlock p, .main__sectionBlock h1, .main__sectionBlock ul, 
    .main__sectionSalary p, .main__sectionSalary h1, .main__sectionSalary table {
        width: 600px;
    }


    .main__slider__wrapper__rowSlide__item {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
    .main__slider__wrapper__rowSlide__item:nth-child(3) {
        display: none; 
    }


    .main__slider__wrapper__slide {
        display: block;
        width: 65px;
        height: 12px;
        margin-top: 24px;
    }
    
    .main__slider__wrapper__slide span {
        background-color: #B0BAAF;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        display: inline-block;
        top: 9px;
        margin-right: 5px;   
        cursor: pointer;
    }
    
    .main__slider__wrapper__slide span:last-child {
        margin-right: 0; 
    }
    
    .main__slider__wrapper__slide .slide-active {
        width: 20px;
        height: 6px;
        background-color: #1874FF;
        border-radius: 10px;
    }
    

    .main__emailWrapper {
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
    .main__emailWrapper form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .main__emailWrapper form input {
        width: 288px;
    }

}

@media (min-width: 320px) and (max-width: 650px) {
    .main__imgMan,
    .main__imgPC {
        text-align: start;
    }
    .main__imgMan img,
    .main__imgPC img {
        width: 288px;
    }
    .main__iconsEmotions {
        flex-wrap: wrap;
    }
    
    .main__sectionBlock p, .main__sectionSalary p {
        font-size: 16px;
    }

    .main__sectionBlock p, .main__sectionBlock h1, .main__sectionBlock ul, 
    .main__sectionSalary p, .main__sectionSalary h1, .main__sectionSalary table {
        width: 288px;
    }

    .container{
        max-width: 720px;
        margin: 0px 16px;
        display: block;
    }

    .header__btn {
        display: none;
    }

    .main__slider__wrapper__rowSlide__item {
        flex: 1 1 calc(100% - 20px); 
        max-width: calc(100% - 20px);
        width: 288px;
    }
    .main__slider__wrapper__rowSlide__item:nth-child(3),
    .main__slider__wrapper__rowSlide__item:nth-child(2) {
        display: none; 
    }

    .main__slider__wrapper__slide {
        display: block;
        width: 65px;
        height: 12px;
        margin-top: 24px;
    }
    
    .main__slider__wrapper__slide span {
        background-color: #B0BAAF;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        display: inline-block;
        top: 9px;
        margin-right: 5px;   
        cursor: pointer;
    }
    
    .main__slider__wrapper__slide span:last-child {
        margin-right: 0; 
    }
    
    .main__slider__wrapper__slide .slide-active {
        width: 20px;
        height: 6px;
        background-color: #1874FF;
        border-radius: 10px;
    }

    .main__emailWrapper {
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
    .main__emailWrapper form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .main__emailWrapper form input {
        width: 288px;
    }




    .footer__info {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .footer__info__program {
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .footer__info__contact {
        grid-row-start: auto;
        grid-row-end: auto;
        justify-self: flex-start;
        margin-top: 48px;
    }
    .footer__info__about {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 16px 0 0 0;
        justify-self: flex-start;
    }

    .footer__info__contact__addres,
    .footer__info__contact__addres p,
    .footer__info__contact__num {
        margin-top: 16px;
    }
    .footer__info__police {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 48px 0px 0px 0px;
        justify-self: flex-start;
        width: 327px;
    }

    .footer__copyright {
        margin-top: 32px;
        font-size: 14px;
        display: block;
        text-align: center;
    }
    .footer__info__contact__block {
        display: block;
    }
    
    .footer__info__contact__block__messanger::after {
        content: '';
        display: inline-block;
        width: 0rem;
        height: 0rem;
        background: #ffffff;
        margin: 0px;
        margin-bottom: 0px;
    }
    .footer__copyright {
        margin-top: 24px;
    }
    .footer__copyright p {
        margin-bottom: 8px;
    }
    .footer__copyright p:last-child {
        margin: 0px;
    }
}

@media (max-width: 320px) {
    .main__imgMan,
    .main__imgPC {
        text-align: start;
    }
    .main__imgMan img,
    .main__imgPC img {
        width: 288px;
    }
    

    .main__sectionBlock p, .main__sectionBlock h1, .main__sectionBlock ul, 
    .main__sectionSalary p, .main__sectionSalary h1, .main__sectionSalary table {
        width: 288px;
    }

    .container{
        max-width: 720px;
        margin: 0px 16px;
        display: block;
    }
    .main__iconsEmotions {
        flex-wrap: wrap;
    }

    .main__slider__wrapper__rowSlide__item {
        flex: 1 1 calc(100% - 20px); 
        max-width: calc(100% - 20px);
        width: 288px;
    }
    .main__slider__wrapper__rowSlide__item:nth-child(3),
    .main__slider__wrapper__rowSlide__item:nth-child(2) {
        display: none; 
    }


    .main__slider__wrapper__slide {
        display: block;
        width: 65px;
        height: 12px;
        margin-top: 24px;
    }
    
    .main__slider__wrapper__slide span {
        background-color: #B0BAAF;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        display: inline-block;
        top: 9px;
        margin-right: 5px;   
        cursor: pointer;
    }
    
    .main__slider__wrapper__slide span:last-child {
        margin-right: 0; 
    }
    
    .main__slider__wrapper__slide .slide-active {
        width: 20px;
        height: 6px;
        background-color: #1874FF;
        border-radius: 10px;
    }


    .main__emailWrapper {
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
    .main__emailWrapper form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .main__emailWrapper form input {
        width: auto;
    }

    .header__btn {
        display: none;
    }
    

    .footer__info {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .footer__info__program {
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .footer__info__contact {
        grid-row-start: auto;
        grid-row-end: auto;
        justify-self: flex-start;
        margin-top: 48px;
    }
    .footer__info__about {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 16px 0 0 0;
        justify-self: flex-start;
    }

    .footer__info__contact__addres,
    .footer__info__contact__addres p,
    .footer__info__contact__num {
        margin-top: 16px;
    }
    .footer__info__police {
        grid-row-start: auto;
        grid-row-end: auto;
        margin: 48px 0px 0px 0px;
        justify-self: flex-start;
        /* width: auto; */
    }

    .footer__info__police a,
    .footer__info__police p {
        font-size: 12px;
    }

    .footer__copyright {
        margin-top: 32px;
        font-size: 14px;
        display: block;
        text-align: center;
    }
    .footer__info__contact__block {
        display: block;
    }
    
    .footer__info__contact__block__messanger::after {
        content: '';
        display: inline-block;
        width: 0rem;
        height: 0rem;
        background: #ffffff;
        margin: 0px;
        margin-bottom: 0px;
    }
    .footer__copyright {
        margin-top: 24px;
    }
    .footer__copyright p {
        margin-bottom: 8px;
    }
    .footer__copyright p:last-child {
        margin: 0px;
    }
}